.section1{
    padding-top: 3em;
    background-color: black
    
}
 .col{
    padding-bottom: 3rem;
    
}
.navbar{
    background-color:yellow;
    position: relative;
    background-position: cover;
    font-family: 'HelveticaNeueLTPro', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: .02rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
    text-align: center;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 20px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 30%;
    margin-left: inherit;
    height: 10%;
}

.cart-price {
    width: 20%;
    height: 10%;
    font-size: 1.2em;
    color: #333;
    margin-left: 210px;
}

.cart-quantity {
    width: 20%;
    height:10%
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 50px;
    width: 40px;
    border-radius: 10px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    text-align: center;
    font-size: 1.2em;
    margin-right: 250px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.cart-price1{
    height: 20%;
}
